.MuiDialog-paper{
    background: var(--color-bg)
}

.previewDialog__image {
    height: auto;
    width: 312px;
}

.previewDialog__prompt {
    margin-top: 10px;
    max-width: 400px;
}

.selectedDialog__prompt {
    margin-top: 10px;
    max-width: 400px;
}

.selectedDialog__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.selectedDialog__likesContainer {
    display: flex;
    align-items: center;
}

/* Small */
@media screen and (max-width: 640px) {

}
  