.MuiDialog-paper{
    background: var(--color-bg)
}

.previewDialog__image {
    height: auto;
    width: 312px;
}

.dialog__prompt {
    margin-top: 10px;
    max-width: 400px;
}

.selectedDialog__prompt {
    margin-top: 10px;
    max-width: 400px;
}

/* Small */
@media screen and (max-width: 640px) {

}
  