@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ________________________________________________________ */


:root {
  --color-bg: #F5ECEF;
  --color-primary: #3E00FF;
  --color-secondary: #E3CFE4;
  --color-font-primary: #0E0E52;
  --color-font-accent: #3E00FF;
}

/* ________________________________________________________ */

body {
  font-family: Inter, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-font-primary)
}

main {
  padding-top: 120px;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container{
      padding: 0 15px
    }
}